Tempus.xcodeproj/project.xcworkspace/xcuserdata/ijeongmin.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
Tempus.xcodeproj
Tempus.xcworkspace/xcuserdata/ijeongmin.xcuserdatad/UserInterfaceState.xcuserstate
