Tempus.xcodeproj/project.xcworkspace/xcuserdata/ijeongmin.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store

### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings